<center><h1>Tebrikler E-Posta Adresiniz Doğrulanmıştır!</h1></center>

@section Scripts {
    <script>

        setTimeout(()=>{
            window.location = '/Account/LoginRegister';
        },2000)

    </script>
}