@model ForgotPasswordModel
<!-- Login Form -->
<div class="tab-pane fade show active" id="login-register-login-form" role="tabpanel">
    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        @*<div asp-validation-summary="All" class="text-danger mb-3"></div>*@

        <div class="mb-4">
            <span asp-validation-for="Email" class="text-danger"></span>
            <label for="login-register-login-username" class="form-label"></label>
            <input asp-for="Email" type="email" placeholder="Email" class="form-control" id="login-register-login-username">
        </div>
       
        <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-lg">Send</button>
        </div>
    </form>
</div>