@model ResetPasswordModel
<!-- Login Form -->
<div class="tab-pane fade show active" id="login-register-login-form" role="tabpanel">
    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        @*<div asp-validation-summary="All" class="text-danger mb-3"></div>*@

        <input asp-for="Mail" type="hidden" class="form-control">
        <input asp-for="Token" type="hidden" class="form-control">

        <div class="mb-4">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
            <input asp-for="NewPassword" type="password" placeholder="Password" />

            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" />
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-lg">Change Password</button>
        </div>
    </form>
</div>